body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9; /* Light background for the body */
  }
  
  .container {
    display: flex;
  }
  
  .main {
    flex: 1;
    padding: 20px;
  }
  
  input, select {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: #0077cc;
    color: white;
    border: none;
    cursor: pointer;
  }

 
 
  
  
  